body {
    overflow-x: hidden;
    padding-top: 86px;
}

.big-logo {
    font-size: xx-large;
}

.logo-main {
    font-size: 65px;
}

.main-box {
    padding-top: 60px !important;
}

.beastbox {
    min-height: 100vh;
}

.logo-circle {
    width: 300px;
}

.logo-hor {
    height: 60px;
    position: relative;
    top: -2px;
}

.admin-fl {
    min-height: 100vh !important;
}

.vh-50 {
    min-height: 70vh;
}

.vh-100 {
    height: 100vh !important;
}

.admin.nav-link.active {
    background-color: var(--bs-green);
    color: var(--bs-white);
    border-radius: 0.2rem;
}

.nav-link {
    font-weight: 600;
    cursor: pointer;
}

.max-content {
    width: max-content !important;
}

.bg-white-gradient {
    background-color: rgba(255, 255, 255, 0.4);
}

.divider-blue {
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to top, #4481eb 0%, #4481eb 100%);
    border-radius: 100% 100% 0 0;
}

.divider-win {
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 100% 100% 0 0;
}

.divider-history {
    height: 40px;
    border-radius: 100% 100% 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.prizepot {
    background-image: linear-gradient(to top, #4481eb 0%, #4481eb 100%);
}

.text-green {
    color: #38ff00;
    text-shadow: #000 1px 1px 3px;
}

.text-shadow {
    text-shadow: #000 1px 1px 3px;
}

.ticket {
    position: relative;
    height: 170px;
    width: 170px;
    background-image: url(../svgs/ticket.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale();
}

.ticket-win {
    filter: grayscale(0) !important;
}

.ticket-number {
    width: 24px;
}

.ticket > span {
    position: relative;
    top: -4px;
}

.dashed {
    border-top: 2px dashed #ccc;
}

.text-blur {
    filter: blur(5px);
    transition: 0.3s ease-in-out;
}

.bg-game-info {
    background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
}

.divider-history {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #7579ff;
}

.border-transparent {
    border: 1px solid transparent;
}

.max-width-rule {
    max-width: 800px;
}

.pointer {
    cursor: pointer;
}

.min-height {
    min-height: 700px;
}

.cl-gold {
    color: #ff7700;
}

.round-input,
.round-input:focus {
    border-width: 0px;
    border: none;
    outline: none !important;
    -webkit-appearance: none;
}

.px-75 {
    max-width: 75px !important;
}

.hover-icon:hover {
    transition: 0.3s ease-in-out;
    color: var(--bs-cyan);
    background-color: var(--bs-secondary);
}

.history-divide {
    border-bottom: 2px dashed #ccc;
}

.main-side-pic {
    max-width: 20%;
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: contain;
}

@media only screen and (max-width: 600px) {
    .main-side-pic {
        display: none;
    }
}

#root {
    position: relative;
}

.detail-modal {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;
    -webkit-animation: swing-in-bottom-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        both;
    animation: swing-in-bottom-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swing-in-bottom-fwd {
    0% {
        -webkit-transform: rotateX(100deg);
        transform: rotateX(100deg);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        opacity: 1;
    }
}
@keyframes swing-in-bottom-fwd {
    0% {
        -webkit-transform: rotateX(100deg);
        transform: rotateX(100deg);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        opacity: 1;
    }
}

@-webkit-keyframes scale-in-ver-center {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
}
@keyframes scale-in-ver-center {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
}

@-webkit-keyframes move1 {
    0% {
        -webkit-transform: translate(0px);
        transform: translate(0px);
    }
    50% {
        -webkit-transform: translate(10px, -10px);
        transform: translate(10px, -10px);
    }
    100% {
        -webkit-transform: translate(0px);
        transform: translate(0px);
    }
}

@keyframes move1 {
    0% {
        -webkit-transform: translate(0px);
        transform: translate(0px);
    }
    50% {
        -webkit-transform: translate(10px, -10px);
        transform: translate(10px, -10px);
    }
    100% {
        -webkit-transform: translate(0px);
        transform: translate(0px);
    }
}

@-webkit-keyframes move2 {
    0% {
        -webkit-transform: translate(0px);
        transform: translate(0px);
    }
    50% {
        -webkit-transform: translate(10px, 10px);
        transform: translate(10px, 10px);
    }
    100% {
        -webkit-transform: translate(0px);
        transform: translate(0px);
    }
}

@keyframes move2 {
    0% {
        -webkit-transform: translate(0px);
        transform: translate(0px);
    }
    50% {
        -webkit-transform: translate(10px, 10px);
        transform: translate(10px, 10px);
    }
    100% {
        -webkit-transform: translate(0px);
        transform: translate(0px);
    }
}

.modal-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    top: 0;
    left: 0;
    -webkit-animation: swing-in-bottom-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        both;
    animation: swing-in-bottom-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.modal-bg > div {
    width: 400px;
    height: max-content;
    max-height: 85vh;
    position: sticky;
    top: 20px;
}

.width-available {
    width: 100%;
}

.ticket-numbers {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 200px;
}

.letter-space {
    letter-spacing: 30px;
}

.scroll {
    position: sticky;
    left: 20px;
    bottom: 20px;
    width: 150px;
    height: 150px;
}

.ticket-box {
    max-height: 345px;
    overflow-y: scroll;
}

.min-width {
    width: 130px !important;
}

.login-bg {
    height: 100vh;
    background-color: #ff0000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='60%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff0000'/%3E%3Cstop offset='1' stop-color='%23900'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23FF0' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%23F40' stroke-width='2' stroke-miterlimit='10' stroke-opacity='.5'%3E%3Ccircle cx='500' cy='500' r='725'/%3E%3Ccircle cx='500' cy='500' r='700'/%3E%3Ccircle cx='500' cy='500' r='675'/%3E%3Ccircle cx='500' cy='500' r='650'/%3E%3Ccircle cx='500' cy='500' r='625'/%3E%3Ccircle cx='500' cy='500' r='600'/%3E%3Ccircle cx='500' cy='500' r='575'/%3E%3Ccircle cx='500' cy='500' r='550'/%3E%3Ccircle cx='500' cy='500' r='525'/%3E%3Ccircle cx='500' cy='500' r='500'/%3E%3Ccircle cx='500' cy='500' r='475'/%3E%3Ccircle cx='500' cy='500' r='450'/%3E%3Ccircle cx='500' cy='500' r='425'/%3E%3Ccircle cx='500' cy='500' r='400'/%3E%3Ccircle cx='500' cy='500' r='375'/%3E%3Ccircle cx='500' cy='500' r='350'/%3E%3Ccircle cx='500' cy='500' r='325'/%3E%3Ccircle cx='500' cy='500' r='300'/%3E%3Ccircle cx='500' cy='500' r='275'/%3E%3Ccircle cx='500' cy='500' r='250'/%3E%3Ccircle cx='500' cy='500' r='225'/%3E%3Ccircle cx='500' cy='500' r='200'/%3E%3Ccircle cx='500' cy='500' r='175'/%3E%3Ccircle cx='500' cy='500' r='150'/%3E%3Ccircle cx='500' cy='500' r='125'/%3E%3Ccircle cx='500' cy='500' r='100'/%3E%3Ccircle cx='500' cy='500' r='75'/%3E%3Ccircle cx='500' cy='500' r='50'/%3E%3Ccircle cx='500' cy='500' r='25'/%3E%3C/g%3E%3Crect fill-opacity='.5' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
    animation: bg-move 15s ease-in-out both reverse infinite;
}

@keyframes bg-move {
    0% {
        background-position: bottom;
    }
    50% {
        background-position: top;
    }
    100% {
        background-position: bottom;
    }
}

.input-solo {
    width: 40px !important;
    border: 0 none;
    outline: none !important;
}

.fa-twitter {
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}

.fa-instagram {
    background: #d6249f;
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
}

.fa-telegram {
    color: #fff;
    background-color: #2ba0d9;
    border-radius: 100px;
}

.fa-at {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

.rounded-100 {
    border-radius: 100%;
}

.dice-sec {
    min-height: 100vh;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600;1,800&display=swap");

.big-title {
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
}

.purchase-box,
.drop-box {
    max-width: 400px;
    min-width: 400px;
    margin: 20px 0;
}

.drop-box i.active {
    color: var(--bs-warning);
}

.drop-box i.dice {
    transition: 0.3s ease-in-out;
    height: 37px;
    border-radius: 0.3rem;
}

.navig.active {
    background-color: transparent !important;
}

.input-group > .btn {
    margin-left: 5px !important;
}

.dice-page-bg {
    background-image: url(../images/bg-dice.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6249a0;
    min-height: 110vh;
}

.bg-fruit {
    background-image: url(../images/bg-fruit.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f6851f;
    min-height: 110vh;
}

.bg-666 {
    background-image: url(../images/bg-beast.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ad1c20;
    min-height: 110vh;
}

.bg-dice {
    transition: 3s;
}

td {
    font-weight: bold;
}

.bg-other-games {
    background-image: linear-gradient(135deg, #69ff97 10%, #00e4ff 100%);
}

.bg-666-animate {
    animation: slit 2.5s linear infinite reverse;
}

@keyframes slit {
    0% {
        background-position: left center, right center;
    }
    25% {
        background-position: left top, right bottom;
    }
    50% {
        background-position: left center, right center;
    }
    75% {
        background-position: left bottom, right top;
    }
    100% {
        background-position: left center, right center;
    }
}

@-webkit-keyframes slit {
    0% {
        background-position: left center, right center;
    }
    25% {
        background-position: left top, right bottom;
    }
    50% {
        background-position: left center, right center;
    }
    75% {
        background-position: left bottom, right top;
    }
    100% {
        background-position: left center, right center;
    }
}

.bg-666-spiner {
    /* background-color: rgb(253, 22, 22); */
    color: red;
}

.spinner-devil-pic {
    height: 70px;
}

.title-fruit {
    height: 120px;
    max-width: 487px;
    width: 100%;
}

.title-beast {
    height: 150px;
}

.table-fruit {
    font-size: 1.5rem;
}

.main-logo {
    width: 350px;
}

.bg-select-game {
    background-image: linear-gradient(135deg, #ffa8a8 10%, #fcff00 100%);
}
